@model IEnumerable<SmetaApp.Models.MatNameMap>

<div class="result-space">
    @foreach (var j in Model)
    {
        <div onclick="$(this).closest('td').children('div').text($(this).text());$(this).closest('td').children('div').trigger('input');$('.result-space').hide();" class="find-result">@j.MatName</div>
    }
</div>

<script>
    if ("@Model.Any()"== "False")
        $(".result-space").hide();
    checkMat("@ViewBag.Match");
</script>
