<div>
    <table id="table">
    </table>
</div>

<script>
    $("#table").addThs("","№ п/п", "Наименование и техническая характеристика", "Тип, марка", "Код оборудования", "Завод - изготовитель",
            "Измеритель", "Ед. изм.", "Кол-во", "Масса единицы, кг", "Примечание", 3, "Стоимость за единицу (руб.), в т.ч. НДС 20%",
            3, "Стоимость всего (руб.), в т.ч. НДС 20%", "прайс, евро", "прайс, долл", "скидка поставщика", "с/с оборудования, рублей",
            "НАЦЕНКА", "Повышающие коэффициенты", "Повышающие коэффициенты", "Цена поставщика", "прайс, евро", "прайс, долл", "скидка поставщика",
            "с/с оборудования, рублей", "НАЦЕНКА", "Повышающие коэффициенты", "Повышающие коэффициенты", "Цена поставщика", "с/с оборудования, рублей",
            "НАЦЕНКА", "Повышающие коэффициенты", "Повышающие коэффициенты", "ЦЕНА СОГЛАСНО ЛИСТУ МРОТ")
        .addThs("","№ п/п", "Наименование и техническая характеристика", "Тип, марка", "Код оборудования", "Завод - изготовитель", "Измеритель",
            "Ед. изм.", "Кол-во", "Масса единицы, кг", "Примечание", "Стоимость оборудования и материалов, руб.", "Стоимость монтажных работ, руб/час.",
            "Всего, руб.", "Стоимость оборудования и материалов, руб.", "Стоимость монтажных работ, руб/час.", "Всего, руб.", "прайс, евро", "прайс, долл", "скидка поставщика",
            "с/с оборудования, рублей", "НАЦЕНКА", "0,1", "0,9", "Цена поставщика", "прайс, евро", "прайс, долл", "скидка поставщика", "с/с оборудования, рублей",
            "НАЦЕНКА", "0,1", "0,9", "Цена поставщика", "с/с оборудования, рублей", "НАЦЕНКА", "0,1", "0,9", "ЦЕНА СОГЛАСНО ЛИСТУ МРОТ")
        .rowspanizer({vertical_align: 'middle'});
</script>
